{% extends "middleware.html" %}
{%block title%}an exploration of the project{% endblock %}
{% block pagetitle %}{% if actor.firstname %}{{actor.firstname}} {% endif %}{{actor.name}}{% endblock %}
{% block pagesubtitle %} {%for tag in actor.profileTags.all %}{{tag|lower}} {% endfor %}{% endblock %}

{% block itemslide %}{% endblock %}

{% block pagetags %}
	<div class="techno">{%for tag in techno_tags %}<span class="tag">{{tag|lower}}</span> {%if not forloop.last %}&bull;{% endif %} {% endfor %}</div>
	<div class="art">{% if tags.techno %}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{%endif%}{%for tag in art_tags %}<span class="tag">{{tag|lower}}</span> {%if not forloop.last %}&bull;{% endif %} {% endfor %}</div>
{% endblock %}

{% block sidebar %}
	<h2>Related Actors</h2><div class="filters" style="display:none"></div>
	<div id="sources-list" class="collaborators">
	{% if collaborators %}
							<!-- {{ collaborators }} -->
							{%for collaborator in collaborators %}
							<div class="source-link {% for phase in collaborator.phases.all %}phase_{{ phase.id}} {% endfor %}" data-importance="{{collaborator.count}}">
								<a href="{{collaborator.id}}">{{collaborator}} ({{collaborator.count}} )</a>
							</div>
							{% endfor %}
						{% endif %}
	</div>
{% endblock %}



{% block viewcontent %}
	
	<div class="grid_3 alpha">
		<h2 style="padding: 12px" >ACTOR TIMELINE</h2>
		
			<div style="padding: 12px 12px 0 12px; font-size:.8em;padding-top:0;">
				drag the triangle to zoom in the timeline	
			</div>
		
		<div id="timeline-controller">
			<div id="time-navigator">
				<div id="zoom-info"></div>
				<div id="zoom-pointer"></div>
			</div>
			<div id="zoom-min">min</div>
			<div id="zoom-max">max</div>
		</div>
		
		
		<div id="legend">
			<div><span class="gold"></span>Exhibitions</div>
			<div class="clear"></div>
			<div style="padding-top:4px"><span class="dark"></span>Other phases</div>
		</div>
	</div>
	<div class="grid_9 omega">
		<div id="timeline">
			<div id="min-view-date">mar 2010</div>
			<div id="max-view-date">oct 2102</div>
			<div id="timeline-view-outer">
				<div id="timeline-view">
				</div>
			</div>
			<div id="timeline-navigator">timeline</div>
			<div id="timeline-rail"> 
				<div id="timeline-handle"></div>
			</div>
			<div id="min-date">mar 2010</div>
			<div id="max-date">oct 2102</div>
		</div>
	</div>
	<div class="clear"></div>
	
	
	
	<!-- actors -->
	<h2 class="separator">ACTIVITIES</h2>
	<!-- filters -->
	<div class="filters" style="display:none"></div>
	<div id="actors">
		<!-- each actor is a line
		<div class="actor phase_0 phase_6">
			<div class="grid_3 alpha">
				<div class="actor-name">Actorn Name</div>
			</div>
			<div class="grid_9 omega">
				<div class="actor-phases">Actorn phases</div>
			</div>
			<div class="clear"></div>
	
		</div>
		<!-- -->
	</div>

{% endblock %}

{% block custominit %}
	EAT.t.drawActivities();

{% endblock %}


{% block vars %}
var phases = {% autoescape off %} {{ phases }} {% endautoescape %};

{% endblock %}