{% extends "base.html" %}
{%block title%}{% if actor.firstname %}{{actor.firstname}} {% endif %}{{actor.name}}{% endblock %}

{% block custom_head %}
<script type="text/javascript"  src="{{ STATIC_URL }}/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.anythingzoomer.min.js"></script>
<script type="text/javascript">

var main_gantt = {{phases|safe}}
  , formatTitle = function (phase) { 
        content = "<div class='title'>" + phase.activity + "</div>"
        content+= phase.label.join(" ") + "<br>";
        content+= $.datepicker.formatDate("dd/mm/yy", phase.start_date) + " - "
        content+= $.datepicker.formatDate("dd/mm/yy", phase.end_date) + ""
        return content
    }
  , actor_gantt_config = {
        "min_date" : min_date,
        "max_date" : max_date,
        "title" : formatTitle,
        "content" : function(phase) {return "";},
        "customClass" : function(phase) { return "phase" + phase.id; },
        "height" : "7px"
    };
    
main_gantt = _.map(main_gantt, function(phase) {
    phase.start_date = $.datepicker.parseDate('yy-mm-dd', phase.start_date);
    if (phase.end_date)
        phase.end_date = $.datepicker.parseDate('yy-mm-dd', phase.end_date);
    return phase;
});

var min_date = _.min(main_gantt, function(phase) {if (phase.start_date) return phase.start_date}).start_date
  , max_date = _.max(main_gantt, function(phase) {if (phase.end_date) return phase.end_date}).end_date
  , phases_by_activity = _.sortBy(_.groupBy(main_gantt, function(phase) { return phase.activity_id }), function(phases_by_activity) {return -phases_by_activity.length});

$(function() {

    _.each(phases_by_activity, function(phases, activity_id) {
        activity_row = $("<div>", {"class" : "line actor"})
        
        html = "<p><a href='./project/" + phases[0].activity_id + "'>" + phases[0].activity +"</a></p>"
        
        $("<div/>",{'class':"name grid_3 alpha"}).html(html).appendTo(activity_row);
        $("<div>", {"class" : "mz-container mz-binded"}).append(
            $("<div>", {"class" : "mz-content"} ).gantt(phases, actor_gantt_config))
        .appendTo(activity_row).addClass("grid_9 omega")
        
        
        
    
    
    
        $("<div>", {"class" : "clear"}).appendTo(activity_row);
        activity_row.appendTo("#activities");
    });
    
    $("#timegrid").timeline({
        dates : {
            min : min_date,
            max : max_date
        }   
    });
    

    $(".gantt-bar").qtip(EAT.qTipConfig)
    $('#map').jMapping();
    $(".help").hide();
    $("#help").change(function() {
        if ( $(this).is(":checked") )
            $(".help").show(300);
        else
            $(".help").hide(300);
    });
	
	var byImportance = function(a,b) {
        return parseInt(b.s) - parseInt(a.s) 
    }
    /*
    $("#mz-master").makeZoomable();
	$(".mz-binded").makeZoomable("bind", $("#mz-master"), function(item) {});
	$("#mz-master").dragscrollable({dragSelector: '.dragger:first', acceptPropagatedEvent: true});
    */
    // --------
    // BINDINGS
    // --------
    $(".gantt-bar").hover(
        function () {
            classes = $(this).attr("class").split(" ");
            nr_phase = _.find(classes, function (class_str) {
                return class_str.match("phase[1-9]+")
            });
            rows = $("."+nr_phase).addClass("mainHovered")
                        .parent().not("#gantt")
                        .parent().not("#mainrow").addClass("highlit");
            if ($("#onlySelected").is(":checked") )
                rows.slideToggle(300);
        }, 
        
        function () {
            classes = $(this).attr("class").split(" ");
            nr_phase = _.find(classes, function (class_str) {
                return class_str.match("phase[1-9]+")
            });
            rows = $("."+nr_phase).removeClass("mainHovered")
                           .parent().not("#gantt")
                           .parent().removeClass("highlit");
            if ($("#onlySelected").is(":checked") )
                rows.slideToggle(300);
        }
    );
    
    $("#expandGantt").change(function() {
        if ( $(this).is(":checked") ) 
            $("#gantt").gantt("expand", "40px");
        else
            $("#gantt").gantt("expand", "20px");
    });

    $("#sortImportanceCollaborators").click(function() {
        $(".collaborator").tsort({
           "attr" : "data-importance",
           "order": "desc",
           "sortFunction" : byImportance
        });
    });
    
    $("#sortAZcollaborators").click(function() {
        $(".collaborator").tsort();
    });
});



EAT.functions.ratio = function( v1,r1, r2 ){
					return v1 * r2 / r1;
				}
</script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/eat/timeline.js"></script>
{% endblock %}





{% block menuContent %}
	<h1 class="title">{% if actor.firstname %}{{actor.firstname}} {% endif %}{{actor.name}} <span id="project-date" class="date">{%for tag in actor.profileTags.all %}{{tag|lower}} {% endfor %}</span></h1>
	<div class="tags last-list">
	    {%for tag in art_tags %}<span class="tag">{{tag|lower}}</span> {% endfor %} - 
	    {%for tag in techno_tags %}<span class="tag">{{tag|lower}}</span> {% endfor %}
	</div>

{% endblock %}


{% block content %}

<script type="text/javascript">
	$(window).load(function() {
		EAT.supersize.disable();
		
		EAT.initView();
		
		// EAT.initCustomScrollbars();
		
		$('#map').jMapping();
		
		EAT.navigator.target.$item = $("#mz-master .dragger"), 
	EAT.navigator.target.min_width = $("#mz-master .dragger").width()
	$( "#time-pointer" ).draggable({ 
		axis: "y",		
		containment: "parent", 
		stop: EAT.navigator.pointer.position.reset,
		drag: EAT.navigator.navigate
	});
	
	$( "#zoom-right" ).mousedown(EAT.navigator.move);
	$( "#zoom-left" ).mousedown(EAT.navigator.move);
	
	$(document).mouseup(function(){
		EAT.navigator.speed.x = 0;
		EAT.navigator.stop();
	});
	
	$( ".dragger" ).draggable({ 
		axis: "x",
					// containment : [ -100, 0, 100, 50 ],
		drag: function( event, ui ){
			EAT.navigator.propagate({left:ui.position.left});	
			$("#gantt").css({left:ui.position.left + "px"} );
		}
	});
	// setup
	EAT.navigator.info.$zoom = $("#zoom-info");
	EAT.navigator.pointer.position.center.x = 82;
	EAT.navigator.pointer.position.center.y = 28;
	// $("#zoom-left").click( EAT.navigator.pointer. );

	});
</script>
<style>
	
</style>
	<!-- @section 1: gannts -->
	<div class="activity grid_12 alpha" >
		<h2>Projects</h2>
		<div class="grid_3 alpha">
			<!-- contains a draggable object in the middle. Its height shoud equal the #timegrid height. Its width is grid_3 minus 8 margin pixel minus 2 border pixel -->
			<div id="time-navigator">
				<div id="zoom-info">1x</div>
				<div id="time-pointer" class="draggable"></div>
				<div id="zoom-left"  class="attractor"></div>
				<div id="zoom-right" class="attractor"></div>				
			</div>
			
		</div>
		<div class="grid_9 omega">
			<div id="mz-master"  class=" mz-container">
			    <div class="mz-content dragger">
			        <div id="timegrid" style="height:50px"></div>
			    </div>
		    </div>
		</div>
		<div class="clear"></div>
		
		
		<!-- double title?
		<h2 title="Actor related activities">His activities<div class="filters"></div></h2>
		<p class="help">Actor related activities</p -->
		<div id="activities"></div> 
	</div>
	
    <!-- @section 2: annotations -->
	<div class="annotations grid_4 omega test">
		<div id="mcs3_container">
			<div class="scrollable-scrollbox">
				<div class="scrollable-container" >
		    		<div class="scrollable-content">
						<h2>With who ?</h2>
						Sort by :
						<button class="btn small" id="sortAZcollaborators">A-Z</button>
						<button class="btn small" id="sortImportanceCollaborators">importance</button>
						<div style="padding-top:9px;">
						{% if collaborators %}
							<!-- {{ collaborators }} -->
							{%for collaborator in collaborators %}
							<div class="collaborator" data-importance="{{collaborator.count}}">
								<a href="{{collaborator.id}}">{{collaborator}} ({{collaborator.count}})</a>
							</div>
							{% endfor %}
						{% endif %}
						</div>
		    		</div>
				</div>
				<div class="dragger_container">
		    		<div class="dragger"></div>
				</div>
			</div>
		</div>

	</div>
	
	
	<!-- section 3: google maps and tags clouds, called #maps-->
	<div id="maps" class="google-map grid_16 alpha omega">
		<div id="tagclouds" class="grid_3 alpha">
	            <h2>What did he do ?</h2>
	            <!-- p class="help">
	                Here is a tagcloud of the different types of actors. The bigger a word is
	                means that more people of this type collaborated on this project. 
	            </p -->
	            <div id="action_tag_cloud" class="tag_cloud">
	                {% for action_tag in action_tags %}
	                    <div class="tag" data-tag="{size:{{action_tag.count}}}">{{action_tag.tag}}</div><br/>
	                {% endfor %}
	            </div>
	            <script type="text/javascript">
	                $("#action_tag_cloud").tagcloudsemantic({"max_size" : 2});
	            </script>
	    </div>
		<div id="map-side-bar" class="grid_3">
	            <h2>Where ?</h2>
	            <!-- p class="help">
	                Here are all the places involved in this project.<br/>
	                Click on a place, you'll jump to it directly on the map.
	            </p -->
	            {% for place in places %}
	            <div class="map-location" data-jmapping="{id: {{place.id}},point: {lng: {{place.longitude|stringformat:'f' }}, lat: {{place.latitude|stringformat:'f' }}}, category: 'museum'}">
	            	<span style=""><a href="#" class="map-link">{{ place.name }}</a></span>
	                <!--<a href="#" class="map-link">{% if place.address %}{{ place.address }}{% else %}{{ place.name }}{%endif%}</a>-->
	                
	                <div class="info-box">
	                    <p>
	                        <span style="">{{ place.name }}</span>
	                        {% if place.address %}{{ place.address }}<br/>{%endif%} 
	                    </p>
	                </div>
	            </div>
	            {% endfor %}
	    </div>
	    <!-- Map -->
	    <div class="grid_10 omega" >
	        <div id="map"></div>
	    </div>
	</div>
{% endblock %}
