{% extends "middleware.html" %}
{%block title%}a graph exploration{% endblock %}
{% block custom_head %}
<script>
console.log("here we are");
</script>

{% endblock %}

{% block itemslide %}{% endblock %}
{% block itemmap %}{% endblock %}
{% block map %}{% endblock %}

{% block menuContent %}
	<h1 class="title">EAT ARCHIVE <span id="project-date" class="date">graphs</span></h1>
	<div id="project-auteurs" class="auteurs">network exploration</div>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block pagetitle %}
CREDITS  
{% endblock %}

{% block pagesubtitle %}{% endblock %}
{% block pagetags %}&amp; ACKNOWLEDGEMENTS{% endblock %}

{% block view %}
	<section id="view" class="grid_16" style="background: white;">
		<div id="credits" style="margin:16px; padding-top:16px;">
			<h2>E.A.T. DATASCAPE</h2>
			<ul>
				<li><b>Christophe Leclercq</b>, art historian, project lead (research)<!-- historien de l'art, direction scientifique du projet --></li>
				<li><b>Paul Girard</b>, engineer, project lead (technology and methodology)<!-- ingénieur, direction technologique et méthodologique du projet --></li>
				<li><b>Patrick Browne</b>, intern engineer, development of the information system<!-- élève ingénieur, développement du système d'information --></li>
				<li><b>Daniele Guido</b>, designer, design and development of the visualization interfaces<!-- designer, conception et realisation des interfaces de visualisation --></li>
				
			</ul>
			<h2>VIDEO</h2>
			<ul>
				<li><b>Benedetta Signaroldi</b>, designer, editing and video production<!-- designer, montage et realisazion video --></li>
				<li><b>Thomas Arrivé</b>,  camera operator <!-- journaliste reporter d'images, caméra --></li>
				<li><b>Owen Martell</b>, translation <!-- traduction --></li>


			</ul>
			<h2>ACKNOWLEDGEMENTS</h2>
			Produced with the kind support of <b>Julie Martin</b>, Director of Experiments in Art and Technology.<br/>
Special thanks to :<ul><li><b>The Robert Rauschenberg Foundation</b></li><li><b>The Roy Lichtenstein Foundation</b></li><li><b>Mathieu Jacomy</b></li><li><b>Pierre Jullian de la Fuente</b></li><li>and the <b>Sciences Po médialab</b> tea</li></ul>
			<!--
			Réalisé avec le soutien de <b>Julie Martin</b>, directrice d’Experiments in Art and Technology 
			et de <b>The Robert Rauschenberg Foundation</b>.
			<br/>
			Un remerciement special a <b>The Roy Lichtenstein Foundation</b>, <b>Mathieu Jacomy</b>, <b>Pierre Jullian de la Fuente</b> et l'équipe du <a href="//medialab.sciences.po.fr">médialab Sciences-po</a>.
			-->
		</div>
	
	</section>
	
	<!-- filters -->
	
	
	<!-- actors -->
	

{% endblock %}
