{% extends "base.html" %}
{% load verbatim %}

{%block title%}{{ activity }}{% endblock %}


{% block custom_head %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.columnizer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.color.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/ICanHaz.min.js"></script>

<script type="text/html" id="actor">
{% verbatim %}
<div class="actor-container grid_12 alpha omega">
    <div class="actor {{ tags }}" id="actor-{{ actor_id }}">
        <div class="name grid_3 alpha">
            <div class="circle"></div>
            <p><a href="../actor/{{ actor_id }}">{{ firstname }} {{ name }}</a></p>
        </div>
        <div class="grid_9 omega mz-container mz-binded">
            <div id="gantt_actor_{{actor_id}}" class="mz-content"></div>
        </div>
    </div>
</div>
{% endverbatim %}
</script>

<script type="text/javascript">
/* function to fix the -10000 pixel limit of jquery.animate */
$.fx.prototype.cur = function(){
    if ( this.elem[this.prop] != null && (!this.elem.style || this.elem.style[this.prop] == null) ) {
      return this.elem[ this.prop ];
    }
    var r = parseFloat( jQuery.css( this.elem, this.prop ) );
    return typeof r == 'undefined' ? 0 : r;
}

var main_gantt = {{phases|safe}}
  , gantt_charts = {{ people|safe }}
  , info_people = {{info_people|safe}};

// parse date into javascript's native Date()
main_gantt = _.map(main_gantt, function(phase) {
    phase.start_date = $.datepicker.parseDate('yy-mm-dd', phase.start_date);
    if (phase.end_date)
        phase.end_date = $.datepicker.parseDate('yy-mm-dd', phase.end_date);
    return phase;
});

gantt_charts = _.map(gantt_charts, function(gantt_chart) {
    gantt_chart["data"] = _.map(gantt_chart["data"], function(phase) {
        phase.start_date = $.datepicker.parseDate('yy-mm-dd', phase.start_date);    
        if (phase.end_date) 
            phase.end_date = $.datepicker.parseDate('yy-mm-dd', phase.end_date);
        
        return phase;
    });
    return gantt_chart;
});

// actor involved in high number of phases are higher    
gantt_charts = _.sortBy(gantt_charts, function (gantt_chart) {
        return -gantt_chart["nb_phases"]
});

// saving min_date and max_date to use when building actor's gantt and timegrid
var min_date = _.min(main_gantt, function(phase) {if (phase.start_date) return phase.start_date}).start_date
  , max_date = _.max(main_gantt, function(phase) {if (phase.end_date) return phase.end_date}).end_date;

// gantt config
var formatTitle = function(phase) {
        var title = phase.tags.join(", ") + "<br>"
        title += $.datepicker.formatDate('yy-mm-dd', phase.start_date) + " - ";
        title += $.datepicker.formatDate('yy-mm-dd', phase.end_date);
        return title;
    }
  , formatContent = function (phase) {
        return $("<div>",{'class': "gantt-content"})
                            .append($("<span>",{'class':"gantt-label"})
                                .text( phase.tags.join(", ")) )
        	                .append("<div class='realbar'>");   
    }
  , main_gantt_config = {
        "sorted" : false,
        "height" : "30px",
        "padding_y" : "5px",
        "animate" : true,
        "title" : formatTitle,
        "content" : formatContent,
        "customClass" : function(phase) { return "phase" + phase.id; }
    }
  , actors_gantt_config =  {
        "height" : "7px"
      , "content" : function (phase) { return ""}
      , "title" : function(phase) { 
            var title = phase.label + "<br>";
            title += $.datepicker.formatDate('yy-mm-dd', phase.start_date) + " - ";
            title += $.datepicker.formatDate('yy-mm-dd', phase.end_date);
            return title; }
      , "min_date" : min_date
      , "max_date" : max_date 
      , "customClass" : function(phase) { return "phase" + phase.phase_id; }
    };

$(window).load(function(){
    // make main gantt
    $('#gantt').gantt(main_gantt, main_gantt_config); 

    // for each actor make the row
    _.each(gantt_charts, function(gantt_chart, key) { 
       gantt_chart['tags'] = info_people[gantt_chart["actor_id"]]["profileTags"].join(" ").toLowerCase()
        actor = ich.actor(gantt_chart).appendTo("#actors");
        $("#gantt_actor_" + gantt_chart["actor_id"])
            .gantt(gantt_chart["data"], actors_gantt_config)

    });
    
    // qTips on gantt bars
    $(".gantt-bar").qtip(EAT.qTipConfig)
    
    // make the google map
    $('#map').jMapping();

    // hide the help
    $(".help").hide();
    
    // make the timegrid
    $("#time_points").timeline({ dates:{ min:min_date, max:max_date } });
    
    // make the tag clouds
    $("#tag_clouds .tag_cloud").tagcloudsemantic({"max_size":2});
    
    // add zoom to the master timeline and bind the other timeline to it
    $("#mz-master").makeZoomable();
	$(".mz-binded").makeZoomable("bind", $("#mz-master"), function(item) {})
	$("#mz-master").dragscrollable({dragSelector: '.dragger:first', acceptPropagatedEvent: true});
	   
	// add modal
	$('#annotation-dialog').modal({ show: false, backdrop:true, keyboard: true});
	
	var supersizedImages = [];
	
	EAT.phases.items =  EAT.functions.map({
		target:{% autoescape off %}{{phases}}{% endautoescape %},
		key: function( iterable, i ){return iterable.id}
	});
	
	
	{% for annotation in annotations %}
		
		{% for p in annotation.phases.all %}
			if( ! EAT.phases.annotated[ {{p.id}} ] ){
				$("#gantt .gantt-bar.phase{{p.id}} .realbar").append(
					$("<img/>", {src:"{{ STATIC_URL }}/images/has-source.png"})
				);
				EAT.phases.annotated[ {{p.id}} ] = 0;
			}
			EAT.phases.annotated[ {{p.id}} ]++;
		{% endfor %}
		
		
		{% if annotation.image %}supersizedImages.push( {image:"{{MEDIA_URL}}/{{ annotation.image }}", title:"{{annotation.title}}"} );{% endif %}
    {% endfor %}
   
	EAT.initView();
	EAT.initSupersize( supersizedImages );	

	
	
    // --------
    // BINDINGS  
   //  --------
    $("#onlySelected").change(function() {
        if ( $(this).is(":checked") )
            rows = $(".actor").not("#mainrow").hide(300);
        else {
            rows = $(".actor").not("#mainrow").show(300);
			$(".annotation-link").show();
		}
    });

    $("#help").change(function() {
        if ( $(this).is(":checked") )
            $(".help").show(300);
        else
            $(".help").hide(300);
    });
    
    $("#expandGantt").change(function() {
        if ( $(this).is(":checked") ) 
            $("#gantt").gantt("expand", "40px");
        else
            $("#gantt").gantt("expand", "20px");
    });
   
   
   
   $(".gantt-bar").mouseenter(function ( event ) {
        classes = $(this).attr("class").split(" ");
        nr_phase = _.find(classes, function (class_str) {
            return class_str.match("phase[1-9]+")
        });
        console.log( event );
        EAT.phases.mouseover( nr_phase, event.currentTarget );    		
    }).mouseleave( EAT.phases.mouseout );
  
	$(".annotation-link").click(function() {
		nr_annotation = $(this).attr("data-annotation");
		
		source = sources[ nr_annotation ];
		
		$("#source-title").empty().text( source.title );
		$("#source-header").empty().text( source.title );
		$("#source-reference").empty().text( source.ref_bibliographic );
		$("#source-text").empty().html( source.text );
		$("#source-image").empty();
		
		if( source.image.url ) {
			
			var modalHeight = Math.min( EAT.getBounds().height - 100, ( source.image.height + 100 ) );
			
			$('#annotation-dialog').css({
				"margin-left": - ( source.image.width + 60 ) / 2, 
				"margin-top": - modalHeight / 2, 
				"height": modalHeight, 
				"width": source.image.width+ 60});
			$('#note-attached').css({height:modalHeight - 80});
			$("#source-image").append("<img src='"+source.image.url+"' style='width:"+source.image.width+"px; height:"+source.image.height+"px'/>")
			
		} else {
			$('#annotation-dialog').css({"margin-left": - 280, width: 560, "margin-top": - 250, "height": 500 });
			$('#note-attached').css({height:400});
		}
		$('#annotation-dialog').modal("show");
		EAT.initCustomScrollbars();
	});
	




/**
 * note: window object MUST be loaded before init some plugin
 * because of browser width/ height constraints
 */

	EAT.initCustomScrollbars();
	EAT.qTip();
	
	$(".gantt-bar").click( function(){
		classes = $(this).attr("class").split(" ");
		nr_phase = _.find(classes, function (class_str) {
            return class_str.match("phase[1-9]+")
        });
		// re filter!
		console.log( "selected phase", nr_phase );
		
		EAT.phases.click( nr_phase );
   });
});
</script>

<!-- variables, json format -->
<script>

	var sources = {% autoescape off %} {{ sources }} {% endautoescape %};
</script>
<script src="{{ STATIC_URL }}/js/jquery.mCustomScrollbar.js"></script>

{% endblock %}

{% block menuItem %}
  <!-- li class="menu-item"><a href="#maps">what and where</a></li -->
{% endblock %}

{% block menuContent %}

	<h1 class="title">{{ activity }} <span id="project-date" class="date"></span></h1>
	<div class="last-list">
		<span id="project-auteurs" ></span> | 
		<span id="project-tags">
			<span class="techno">{%for tag in tags.techno%}<span class="tag">{{tag|lower}}</span> {% endfor %}</span>
			<span class="art">{%for tag in tags.art%}<span class="tag">{{tag|lower}}</span> {% endfor %}</span>
		</span>
	</div>
	
{% endblock %}

{% block content %}

<!-- content to show if javascript is disabled -->
<noscript>
	<style type="text/css">
		#mcs3_container .customScrollBox{overflow:auto;}
		.scrollable-scrollbox{ border-bottom: 1px solid ccc }
	</style>
</noscript>



<!-- the container content -->

	<!-- @section 1: gannts -->
	<div class="activity grid_12 alpha">
	
		{% comment %}
		<p class="help">Below is the title of the project and tags that describe the project (blue are technology tags, red are artistic tags).</p>
		
		<div id="project-material" ></div>
		<div id="project-description" style="display:none" class="description">{{ activity.description }}</div>
	
		
		
		<!-- silly workaround -->
	<script type="text/javascript">
		
		var description = $("#project-description").text().split("\n\n")
		  , pattern = /\[(.*)\]/;
		// split it
		// console.log(description);
		 
		$("#project-description").empty().show();
		
		for (var i in description ) {
			var magic = description[i].split( pattern ) ;
			try{
				content = magic.pop();
				className = magic.pop().toLowerCase();
				$("#project-" + className ).empty().text( content );
			} catch( exception){
				continue;
			}
		}
		
		EAT.splitIntoColumns( $("#project-description"), { columns: 2 } );
			
		
	</script>
		{% endcomment %}
		
		<!-- WHEN MAIN -->
		
		<div class="grid_3 alpha">
		   <h2>When ?</h2>
			<div class="when">
		   <p class="help">This timeline shows you the different phases of the project. <br/>Hover on a phase to get more information.</p>
		   <h4>Options</h4>
		   <ul class="inputs-list">
		      <li><label for="expandGantt">
		      	<input type="checkbox" id="expandGantt"> expanded</label>
		      	<small class="help">means the timeline will be bigger</small>
		      </li>
		      <li><label for="onlySelected">
		      	<input type="checkbox" id="onlySelected" /> only hovered</label>
		      	<small class="help">means that below will be displayed only the actors who played a role in the phase you're hovering</small>
		      </li>
		   </ul>
			</div>
		</div>
		
		<!-- WHEN MAIN gannt -->
		<div class="gannt grid_9 omega">
		   <div class="mz-container mz-binded">
		        <div class="mz-content">
		            <div id="gantt"></div>
		        </div>
		   </div>
		   <div id="mz-master" class="mz-container">
		        <div class="mz-content  dragger">
		           <div id="timegrid"><div id="time_points"></div></div>
		        </div>
		   </div>

		</div>
		
		<!-- WHO MAIN -->
				<div class="clear"></div>
		<h2>Who ?<div class="filters"></div></h2>
		<p class="help">These are the actors who played a part in the project. You can click on a name to go the actor's page.</p>
		<div id="actors" class="who grid_12 alpha omega"></div>		
	</div>
	<script type="text/javascript">
		    		  
		    		</script>
	<!-- @section 2: annotations -->
	<div class="annotations grid_4 omega test">
		<div id="mcs3_container">
			<div class="scrollable-scrollbox">
				<div class="scrollable-container" >
		    		<div class="scrollable-content">
						<h2>Sources<div class="filters"></div></h2>
						{% load listutils %}
						{% for annotation in annotations %}
							{% if annotation.text or annotation.image  %}
							<div data-annotation="{{annotation.id}}" class="annotation-link{% for p in annotation.phases.all %} phase{{p.id}}{% endfor %}" >
								 
								{% if annotation.image %}
									<div class="image-container" >
										<img src="{{ annotation.image.url_187x0}}"/>
										<div class="title"><a href="#">{{annotation.title}}</a></div>
									</div>
								{% else %}
									<div class="blockquote-container" >
										<div class="blockquote" >"{{ annotation.text|blockquote }}"</div>
									</div>
								{% endif %}
							</div>
							
							
							{% endif %}
						{% endfor %}
		    		</div>
				</div>
				<div class="dragger_container">
		    		<div class="dragger"></div>
				</div>
			</div>
		</div>

	</div>
	
	<!-- section 3: google maps -->
	<div id="maps" class="google-map grid_16 alpha omega">
		<div id="tagclouds" class="grid_3 alpha">
	            <h2>PROFILES </h2>
	            <p class="help">
	                Here is a tagcloud of the different types of actors. The bigger a word is
	                means that more people of this type collaborated on this project. 
	            </p>
	            <div id="tag_clouds">

	                    <div class="tag_cloud">
	            	    {% for actor_profile in actor_profiles %}
	                        <div class="tag" data-tag="{size: {{actor_profile.size}}}">{{actor_profile.tag}}</div>{% if not forloop.last %}<br/>{% endif %}
	                        {% endfor %}
	                    </div>
	            </div>
	    </div>
		<div id="map-side-bar" class="grid_3">
	            <h2>Where ?</h2>
	            <p class="help">
	                Here are all the places involved in this project.<br/>
	                Click on a place, you'll jump to it directly on the map.
	            </p>
	            {% for place in places %}
	            <div class="map-location" data-jmapping="{id: {{place.id}},point: {lng: {{place.longitude|stringformat:'f' }}, lat: {{place.latitude|stringformat:'f' }}}, category: 'museum'}"> 
	                <a href="#" class="map-link">{{place.name}}</a>
	                <div class="info-box">
	                    <p>
	                        <h3>{{ place.name }}</h3>
	                        {% if place.address %}{{ place.address }}<br/>{%endif%} 
	                    </p>
	                </div>
	            </div>
	            {% endfor %}
	    </div>
	    <!-- Map -->
	    <div class="grid_10 omega" >
	        <div id="map"></div>
	    </div>
	</div>
{% endblock %}

{% block customModal %}
	<div id="annotation-dialog" class="modal source" style="display: none; ">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>{{ activity }} &bull; <span id="source-header">subtitle</span></h3>
		</div>
		<div class="modal-body" id="source">
				<div id="note-attached">
					<div class="scrollable-scrollbox">
						<div class="scrollable-container">
				    		<div class="scrollable-content">
				    			<h2 id="source-title"></h2>
								<div id="source-reference"></div>
				    			<div id="source-image"></div>
				    			<div id="source-text"></div>
				    		</div>
				    	</div>
				    	<div class="dragger_container">
		    				<div class="dragger"></div>
						</div>
					</div>
				</div>
			
		</div>
		<div class="modal-footer">
              <a href="#" class="btn primary">Primary</a>
              <a href="#" class="btn secondary">Secondary</a>
		</div>
	</div>
{% endblock %}
